.main-chip {
    /* position: sticky; */
    /* top: 0; */
    /* margin-left: 2%;
    margin-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%; */
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #ebf0f4;
}

.main-chip__separator {
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
}

.main-chip__separator::-webkit-scrollbar {
    display: none;
}

.main-chip__item {
    background: white;
    border-radius: 15px;
    color: rgba(0, 0, 0, 0.507);
    font-weight: bold;
    font-size: small;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;
}

.main-chip__item.negro {
    background: black;
    color: white;
}

.main-chip__item_button {
    width: 150px;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    border: 0;
    background: transparent;
    outline: none;
    cursor: pointer;
    color: #96A0A5;
    font-weight: 500;
}

.selected {
    background: black;
}

.main-chip__item_button::active {
    background: red;
}

.main-chip__item>:hover {
    background: black;
    color: white;
}

.main-chip__item:hover {
    color: white;
}

.icon1 {
    padding: 10px;
    text-align: center;
}

.main-chip__search {
    width: 30%;
    background: white;
    border-radius: 15px;
    color: rgba(0, 0, 0, 0.507);
    font-weight: bold;
    font-size: small;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-left: 3%;
}

.main-chip__search_input {
    width: calc(100% - 60px);
    border-radius: 15px;
    height: auto;
    border: 0;
    outline: none;
}

@media (max-width: 600px) {
    .main-chip {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .main-chip__search {
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
    }
    .main-chip__search_input {
        width: 100%;
        border-radius: 10px;
    }
    /* .main-chip__separator {
        overflow-x: scroll;
    } */
}