.main-container__store_items {
    display: grid;
    width: 100%;
    margin-top: 40px;
    grid-template-columns: repeat(auto-fill, 230px);
    grid-gap: 2rem;
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "header    header" "chip      chip" "sidebar   section";
    height: 100vh;
}

.header {
    /* background: #78baf0; */
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 10000;
    background: #ebf0f4;
}

.primary {
    padding: 20px 30px 20px 30px;
}

.primary h2{
    margin-top: 0;
}

.chip {
    /* background: #af6161; */
    grid-area: chip;
    position: sticky;
    top: 80px;
    z-index: 8000;
    background: #ebf0f4;
}

.sidebar {
    /* background: cadetblue; */
    grid-area: sidebar;
}

.section {
    grid-area: section;
    /* background: rgb(123, 201, 120); */
}

@media (max-width: 1100px) {
    .sidebar {
        display: none;
    }
    .grid {
        grid-template-areas: "header header" "chip chip" "section section";
        grid-template-rows: 80px auto;
        grid-template-columns: 1fr;
    }
    .main-container__store_items {
        justify-content: center;
    }
}