.imagen {
    height: 20vh;
}

.imagen img {
    width: 100%;
    height: 56vh;
    object-fit: cover;
}

.centrar {
    display: flex;
    width: 100%;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

.information {
    position: absolute;
    width: auto;
    height: auto;
    background: white;
    border-radius: 15px;
    padding: 50px;
    /* box-shadow: 0px 0px 40px rgba(39, 39, 39, 0.171);
    backdrop-filter: saturate(120%) blur(40px);
    -webkit-backdrop-filter: saturate(120%) blur(90px); */
    margin: 5%;
}

.imagenprod {
    display: flex;
}

.imagenprod img {
    width: 300px;
    /* max-width: 300px; */
    height: 400px;
    /* margin-right: 20px; */
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(39, 39, 39, 0.507);
    backdrop-filter: saturate(120%) blur(20px);
    -webkit-backdrop-filter: saturate(120%) blur(20px);
    margin: 20px;
}

.buttons {
    width: 90%;
    margin: 20px;
}

.buttons p {
    text-align: justify;
}

.gris p {
    color: rgba(19, 19, 19, 0.678);
    margin-bottom: 30px;
}

.informationGame {
    /* height: 230px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
}

.infogamecontent {
    margin: 20px;
}

@media (max-width: 1200px) {
    .imagenprod {
        flex-direction: column;
    }
    .information {
        /* width: 70%; */
        margin: 0;
        margin-top: 60vh;
        padding: 10px;
    }
    
    .centrar {
        height: 100vh;
        margin-bottom: 80vh;
    }
    .imagenprod {
        align-items: center;
    }
    .imagenprod img {
        width: 200px;
        height: auto;
        margin-right: 0;
        margin: 30px;
    }
}