.compraProd {
    margin-top: 35px;
    width: 80%;
    background: white;
    border-radius: 10px;
    margin-bottom: 30px;
}



.arriba {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e3e4e6;
    padding: 20px;
}

.cotenedorxd {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.fecha p, .total p {
    margin: 0;
    color: #373737;
}

.fecha h4, .total h4 {
    margin-top: 5px;
    margin-bottom: 0;
    color: #373737;
}

.code {
    margin: 0;
}

.abajo {
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.abajo p {
    margin: 0;
    color: #373737;
}

.detalles button {
    border: 0;
    padding: 10px;
    border-radius: 5px;
    color: rgb(39, 107, 233);
    width: 100%;
}

.detalles p {
    margin-bottom: 15px;
    font-size: smaller;
}

.logometod {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logometod img {
    width: 30px;
}

.logometod p {
    font-size: smaller;
}

.money {
    display: flex;
    align-items: center;
    justify-content: center;
}

.money img {
    width: 30px;
    margin-left: 5px;
}

.name {
    color: #00af91;
    margin: 0;
}

.nuevo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.nuevo img {
    width: 15px;
}

.centro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    text-decoration: none;
    color: black;
    font-size: small;
    margin-left: 5px;
}

.link:hover {
    color: rgb(39, 107, 233);
}

.later {
    display: flex;
    align-items: center;
}

.later img {
    width: 60px;
    border-radius: 5px;
    margin-right: 15px;
}

@media (max-width: 600px) {
    .compraProd {
        width: 100%;
    }
    .arriba {
        flex-direction: column;
    }
    .cotenedorxd {
        width: 100%;
        flex-direction: column;
    }
    .logometod {
        width: 100%;
        align-items: flex-start;
        margin-top: 15px;
    }
    .total {
        margin-top: 20px;
    }
    .money {
        justify-content: flex-start;
    }
    .centro {
        text-align: center;
    }
    .abajo {
        flex-direction: column;
    }
    .detalles {
        margin-top: 30px;
        width: 100%;
    }
    .nuevo {
        justify-content: center
    }
    .logometod {
        align-items: flex-end;
    }

}