.main-sidebar {
    width: 100%;
    height: 100%;
    padding: 20px 30px 20px 30px;
}

.main-sidebar_mobile {
    margin: 20px;
}

.main-sidebar__title {
    margin-top: 0;
    margin-bottom: 40px;
}

.main-sidebar__pruducts {
    display: flex;
    flex-direction: column;
}

.main-sidebar__item {
    /* font-size: 15px; */
    margin-bottom: 50px;
    font-weight: 500;
    color: #96A0A5;
    text-decoration: none;
}

.selectedNav {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}