.main-sidebar {
    position: sticky;
    /* top: calc(150px + 2rem); */
    width: 150px;
    height: 75vh;
}

.main-sidebar__title {
    margin-top: 0;
    margin-bottom: 40px;
}

.main-sidebar__pruducts {
    display: flex;
    flex-direction: column;
}

.main-sidebar__item {
    font-size: 15px;
    margin-bottom: 50px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.582);
    text-decoration: none;
}

.main-sidebar__selected {
    color: black;
}

.selectedNav {
    color: black;
}

@media (max-width: 600px) {
    .main-sidebar {
        display: none;
    }
}